.container {
  margin-top: 100px;
}

input {
  width: 100%;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.card {
  margin-top: 25px;
}

.card-title {
  font-weight: bold;
  font-size: 30px;
  padding: 15px 10px;
}

.card-img {
  padding: 25px;
}

#results {
  margin-top: 100px;
}
